input[type="text"]:focus {
  box-shadow: 0 0 7px 0 #ffffff;
  -moz-box-shadow: 0 0 7px 0 #ffffff;
  -webkit-box-shadow: 0 0 7px 0 #ffffff;
  -o-box-shadow: 0 0 7px 0 #ffffff;
  outline: none;
}
#branding h1#site-name {
  color: #fff;
  font-size: 26px;
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
#branding h1#site-name span {
  color: #FF3939;
}
input[type="text"], input[type="password"], input[type="email"] {
  width: 200px;
  border: 1px solid #FFF;
  font-size: 12px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #666;
  height: 30px;
  padding-left: 10px;
}
select:focus {
  box-shadow: 0 0 7px 0 #ffffff;
  -moz-box-shadow: 0 0 7px 0 #ffffff;
  -webkit-box-shadow: 0 0 7px 0 #ffffff;
  -o-box-shadow: 0 0 7px 0 #ffffff;
  border: 1px solid #50B1FE;
  outline: none;
}
input[type="button"], input[type="submit"], .boton {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 10px 15px;
  line-height: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 14px;
  text-shadow: 0 1px 0 white;
  color: #666;
  text-decoration: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  border: 1px solid #CCC;
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e0e0e0', GradientType=0);
  background: linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  margin-left: 10px;
}
select {
  height: 34px;
  padding-left: 10px;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 0 5px;
  line-height: 100%;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 12px;
  text-shadow: 0 1px 0 white;
  color: #666;
  text-decoration: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  border: 1px solid #CCC;
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e0e0e0', GradientType=0);
  background: linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  min-width: 180px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
body {
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  padding: 0;
}
div.breadcrumbs {
  background: none;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  color: #333;
  text-align: left;
  height: 16px;
}
.module h2, .module caption, .inline-group h2 {
  margin: 0;
  padding: 2px 5px 3px 5px;
  font-size: 11px;
  text-align: left;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  background: #333;
  color: white;
}
#recent-actions-module {
  display: none;
}
/* LINKS */
.dashboard .module {
  margin: 20px 0;
  background-color: #FFF;
  box-shadow: 0 0 10px 1px #333333;
  -moz-box-shadow: 0 0 10px 1px #333333;
  -webkit-box-shadow: 0 0 10px 1px #333333;
  -o-box-shadow: 0 0 10px 1px #333333;
}
.dashboard .module table tr td {
  height: 30px;
  vertical-align: middle;
}
.dashboard .module table tr th {
  height: 30px;
  vertical-align: middle;
}
.dashboard .module a:link, .dashboard .module a:visited {
  color: #BB3B3F;
  text-decoration: none;
}
.dashboard .module a:link.addlink,
.dashboard .module a:visited.addlink,
.dashboard .module a:link.changelink,
.dashboard .module a:visited.changelink {
  color: #999;
  font-weight: bold;
}
.dashboard .module a:link.addlink:hover,
.dashboard .module a:visited.addlink:hover,
.dashboard .module a:link.changelink:hover,
.dashboard .module a:visited.changelink:hover {
  color: #333;
}
.dashboard .module a:hover {
  color: #A5262A;
}
.dashboard .module caption a.section {
  color: #FFF;
  font-size: 14px;
}
.dashboard #content {
  width: auto;
}
.dashboard #content h1 {
  width: 900px;
  max-width: 900px;
  margin: 0 auto;
}
.dashboard #content.colMS {
  margin-right: 0 !important;
}
.dashboard #content-main {
  margin: 0 auto;
  float: none;
  width: 900px;
  max-width: 900px;
}
.submit-row {
  padding: 5px 0;
  text-align: right;
  background: none;
  border: none;
  margin: 5px 0;
  overflow: hidden;
}
#content.flex, #content.colM {
  width: 900px;
  margin: 0 auto;
}
#content.flex h1, #content.colM h1 {
  margin: 20px 0px;
}
#content.flex .module, #content.colM .module {
  background-color: #FFF;
  box-shadow: 0 0 10px 1px #333333;
  -moz-box-shadow: 0 0 10px 1px #333333;
  -webkit-box-shadow: 0 0 10px 1px #333333;
  -o-box-shadow: 0 0 10px 1px #333333;
}
#content.flex .actions, #content.colM .actions {
  color: #fff;
  font-size: 18px;
  background: #333 ;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid #CCC;
}
#content.flex .actions .button, #content.colM .actions .button {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 10px 15px;
  line-height: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 14px;
  text-shadow: 0 1px 0 white;
  color: #666;
  text-decoration: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  border: 1px solid #CCC;
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e0e0e0', GradientType=0);
  background: linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  margin-left: 10px;
  font-size: 11px;
}
#content.flex .actions button,
#content.colM .actions button,
#content.flex .actions select,
#content.colM .actions select {
  margin: 5px 0px;
}
#content.flex thead th, #content.colM thead th {
  font-size: 14px;
  color: #BB3B3F;
  height: 30px;
}
#content-main .submit-row {
  text-align: left;
}
.errornote {
  /*font-size: 12px !important;
	display: block;
	padding: 4px 5px 4px 25px;
	margin: 0 0 3px 0;
	border: 1px solid red;
	color: red;*/

  border: none;
  background: #FFF;
  width: 300px;
}
.aligned label {
  display: inline-block;
  vertical-align: middle;
  padding: 3px 10px 0 0;
  width: 10em;
  height: 30px;
  line-height: 30px;
  color: #DDD;
}
a:link,
a:visited,
a:link,
a:visited {
  color: #999;
}
.object-tools li {
  background: none;
}
.object-tools li:hover {
  background: none;
}
.object-tools a.addlink:hover, .object-tools a.historylink:hover {
  background: #417EEE;
}
.object-tools a.addlink, .object-tools a.historylink {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 10px 15px;
  line-height: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 14px;
  text-shadow: 0 1px 0 white;
  color: #666;
  text-decoration: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  border: 1px solid #CCC;
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e0e0e0', GradientType=0);
  background: linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  margin-left: 10px;
  font-family: "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
  background: #417EEE;
  color: #fff;
  height: 30px;
  margin-top: -15px;
  padding: 8px 15px;
}
.object-tools a.addlink:after, .object-tools a.historylink:after {
  content: '+';
}
.submit-rowa:link.deletelink,
a:visited.deletelink,
a:link.deletelink,
a:visited.deletelink {
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
  margin: 0;
  padding: 10px 15px;
  line-height: 100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  overflow: visible;
  font-weight: normal;
  font-size: 14px;
  text-shadow: 0 1px 0 white;
  color: #666;
  text-decoration: none;
  vertical-align: middle;
  box-sizing: border-box;
  display: inline-block;
  zoom: 1;
  border: 1px solid #CCC;
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e0e0e0', GradientType=0);
  background: linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  margin-left: 10px;
  color: #fff;
  background: #BB3B3F;
  margin-left: 0;
  margin-top: -4px;
}
.submit-rowa:link.deletelink:before,
a:visited.deletelink:before,
a:link.deletelink:before,
a:visited.deletelink:before {
  content: '✗';
}
.row1 {
  background: #eee;
  height: 30px;
}
.row1 a:link, .row1 a:visited {
  color: #666;
  font-size: 10px;
}
.row1 a:hover {
  color: #333;
}
.row2 {
  height: 30px;
}
.row2 a:link, .row2 a:visited {
  color: #666;
  font-size: 10px;
}
.row2 a:hover {
  color: #333;
}
.button.default, input[type="submit"].default, .submit-row input.default {
  border: 2px solid #5B80B2;
  background: #7CA0C7;
  font-weight: bold;
  color: #666;
  float: right;
  border: 1px solid #CCC;
  background: #FCFCFC;
  background: -moz-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfcfc), color-stop(100%, #e0e0e0));
  background: -webkit-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -o-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  background: -ms-linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#e0e0e0', GradientType=0);
  background: linear-gradient(top, #fcfcfc 0%, #e0e0e0 100%);
}
#changelist .actions .button {
  font-size: 11px;
  padding: 1px 12px;
}
