/*
	Global variables
*/
#dvPerfil {
  margin-top: 30px;
  margin-bottom: 100px;
}
#dvPerfil img {
  background-color: #333;
  border: 10px double #666;
}
#mainArticle {
  height: 100%;
  background-color: #FFF;
  margin: 0 20px;
  margin-top: -30px;
  border: 1px solid #DDD;
  box-shadow: 0 0 10px 1px #333333;
  -moz-box-shadow: 0 0 10px 1px #333333;
  -webkit-box-shadow: 0 0 10px 1px #333333;
  -o-box-shadow: 0 0 10px 1px #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  width: auto;
}
#mainArticle .asTable {
  display: table;
  width: 100%;
}
.leftPane {
  height: 100%;
  width: 180px;
  padding: 20px;
  border-right: 1px solid #ccc ;
  display: table-cell;
  vertical-align: top;
}
.leftPane ul {
  list-style: none;
  padding: 0;
  cursor: pointer;
}
.leftPane li {
  padding-left: 10px;
  color: #333;
  height: 40px;
  line-height: 40px;
  margin: 10px 0;
  border-left: 1px solid #bb3b3f;
  cursor: pointer;
}
.leftPane li.sobreMenu {
  background-color: #bb3b3f;
  color: #fff;
}
.rightPane {
  height: 100%;
  padding: 20px;
  display: table-cell;
  vertical-align: top;
}
/****************************HORARIOS**********************/
#txtGrupo {
  width: 80px;
}
#dvTipoHorario {
  background-color: #666;
  color: #fff;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
#dvHorarios table {
  vertical-align: top;
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
  border-spacing: 0;
}
#dvHorarios table tr {
  height: 30px;
  border-width: 0;
}
#dvHorarios table tr td {
  text-align: center;
  min-width: 80px;
  min-height: 50px;
  height: 50px;
  font-size: 10px;
  max-width: 15%;
}
#dvHorarios table tr td > div.target {
  border: 1px dotted #AAA;
  margin: 10px;
  color: #AAA;
  cursor: pointer;
  height: 90%;
}
#dvHorarios table tr td > div.target:before {
  content: 'soltar aqui';
}
#dvHorarios table tr td > div[data-id-materia] {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /*max-width:20px;
					max-height:20px;
					overflow: hidden;*/
  height: 90%;
  text-align: left;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 2px 0px #999999;
  -moz-box-shadow: 0 0 2px 0px #999999;
  -webkit-box-shadow: 0 0 2px 0px #999999;
  -o-box-shadow: 0 0 2px 0px #999999;
}
#dvHorarios table tr td:first-child {
  max-width: 100px;
  width: 100px;
  text-align: left;
  background-color: #eab6b8;
  text-align: center;
  color: #fff;
  font-weight: bold;
  border: none;
}
#dvHorarios thead tr th {
  background-color: #333;
  color: #fff;
  border: none;
}
#detalleHorario {
  display: inline-block;
  width: 150px;
}
#tiraMaterias {
  font-size: 10px;
  margin: 0px auto;
  background-color: #fff;
  list-style: none;
  margin: 0;
  padding: 0;
}
#tiraMaterias > li {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 3px 0px #999999;
  -moz-box-shadow: 0 0 3px 0px #999999;
  -webkit-box-shadow: 0 0 3px 0px #999999;
  -o-box-shadow: 0 0 3px 0px #999999;
  width: 80px;
  height: 50px;
  padding: 5px;
  margin: 10px 5px;
  color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
}
#tiraMaterias > li.elegida {
  color: #fff;
}
#tiraMaterias > li .encurso {
  background-color: #fff;
}
#tiraMaterias > li .reprobada {
  background-color: #FF1710;
  border-color: #333;
}
#tiraMaterias > li .aprobada {
  background-color: #21AB10;
  border-color: #333;
}
#tiraMaterias > li:hover {
  cursor: pointer;
}
#tiraMaterias li {
  color: #fff;
  font-weight: bold;
}
#tiraMaterias li.over {
  box-shadow: 0 0 10px 0px #000000;
  -moz-box-shadow: 0 0 10px 0px #000000;
  -webkit-box-shadow: 0 0 10px 0px #000000;
  -o-box-shadow: 0 0 10px 0px #000000;
}
/***************************************************************/
.titulo {
  font-size: 18px;
  padding: 20px 0px;
}
h1 {
  margin-top: 25px;
  font-size: 28px;
  color: #c83f44;
}
.column {
  display: inline-block;
  width: 300px;
}
/*************************Situacion Academica*********************/
#Concentrados div.column {
  font-size: 14px;
  color: #333;
  padding: 10px 0;
}
#Concentrados div.column span {
  font-weight: bold;
}
.listaHorizontal {
  font-size: 10px;
  margin: 0px auto;
  background-color: #fff;
}
.listaHorizontal > li {
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 3px 0px #999999;
  -moz-box-shadow: 0 0 3px 0px #999999;
  -webkit-box-shadow: 0 0 3px 0px #999999;
  -o-box-shadow: 0 0 3px 0px #999999;
  width: 80px;
  height: 50px;
  padding: 5px;
  margin: 10px 5px;
  color: #333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
}
.listaHorizontal > li.elegida {
  color: #fff;
}
.listaHorizontal > li .encurso {
  background-color: #fff;
}
.listaHorizontal > li .reprobada {
  background-color: #FF1710;
  border-color: #333;
}
.listaHorizontal > li .aprobada {
  background-color: #21AB10;
  border-color: #333;
}
.listaHorizontal > li:hover {
  cursor: pointer;
}
#kardex ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
#mapaCurricular > li {
  border-color: 1px solid #ccc;
  margin-top: 20px;
}
.IB {
  display: inline-block;
}
.indicadorNivel {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
  height: 30px;
  background-color: #333;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
/******************************************************************/