/*
	Global variables
*/


@dark-red: #BB3B3F;
@light-red: #C83F44;
@another-red:#C83F43;


.box-shadow (@x, @y, @blur, @spread, @color) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
  -o-box-shadow: @arguments;
}


.border-radius (@radio:5px) {
	-moz-border-radius: @radio;
	-webkit-border-radius: @radio;
	border-radius: @radio;
}

#dvPerfil{
	margin-top: 30px;
	margin-bottom: 100px;
}

#dvPerfil img {
	background-color: #333;
	border:10px double #666;
}


#mainArticle{
	height: 100%;
	background-color: #FFF;
	margin: 0 20px;
	margin-top: -30px;
	border: 1px solid #DDD;

	.box-shadow (0, 0, 10px, 1px, #333);	
	.border-radius;
	display: block;
	width:auto;
	
	.asTable{
		display: table;
		width:100%;
	}
	
    
}


.leftPane{
	height:100%;
	width:180px;
	padding: 20px;
	border-right: 1px solid #ccc ;
	display: table-cell;
	vertical-align: top;

	ul{
		list-style: none;
		padding: 0;
		cursor:pointer;
	}

	li{
		padding-left: 10px;
		color: #333;
		height:40px;
		line-height:40px;	
		margin: 10px 0;	
		border-left: 1px solid @dark-red;
		cursor:pointer;	
		
	}

	li.sobreMenu{			
		background-color:@dark-red;
		color: #fff;
			
	}
}

.rightPane{
	height:100%;
	padding: 20px;
	display: table-cell;
	vertical-align: top;
}




/****************************HORARIOS**********************/


#txtSalon{
	width:80px;
}

#dvTipoHorario{

	background-color: #666;
	color: #fff;
	height:40px;
	line-height:40px;
	text-align: center;
}

#dvHorarios{

	
	table{

		vertical-align: top;	
		font-size:12px;
		width:100%;
		margin-top: 10px;
		border-spacing: 0;

		tr{
			height:30px;
			border-width: 0;

			td{
				text-align: center;
				min-width:80px;
				min-height:50px;
				height:50px;
				font-size:10px;	
				max-width:15%;

				> div.target{
					
					border:1px dotted #AAA;					
					margin: 10px;
					color: #AAA;
					cursor: pointer;
					height:90%;
					&:before{
						content:'soltar aqui';
					}
					
				}

				> div[data-id-materia]{
					.border-radius;
					/*max-width:20px;
					max-height:20px;
					overflow: hidden;*/					
					height:90%;
					text-align: left;
					padding: 10px;
					margin: 10px;
					cursor: pointer;
					color: #fff;
					font-weight: bold;
					.box-shadow (0, 0, 2px, 0px, #999);

				}
				
										
			}
		}

	}

	table tr td:first-child{
		max-width:100px;
		width:100px;
		text-align: left;
		background-color: lighten(@light-red, 30%);
		text-align: center;
		color:#fff;
		font-weight: bold;
		border:none;	
	}

	thead tr th{
		background-color: #333;
		color:#fff;
		border:none;	
	}
}

#detalleHorario{
	display: inline-block;	
	width:150px;
}


#tiraMaterias{
	.listaHorizontal;

	
	list-style:none;
	margin:0;
	padding:0;

	li{
		color: #fff;
		font-weight: bold;
	}

	li.over{
		.box-shadow (0, 0, 10px, 0px, #000);
	}
}


/***************************************************************/

.titulo{
	font-size: 18px;
	padding: 20px 0px;
}

h1{
	margin-top: 25px;
	font-size: 28px;
	color: @light-red;

}

.column{
	display:inline-block;
	width:300px;
}

/*************************Situacion Academica*********************/
#Concentrados div.column{
	font-size: 14px;
	color: #333;
	padding: 10px 0;

}


#Concentrados div.column span{
	font-weight: bold;
}


.listaHorizontal{
	font-size:10px;
	margin: 0px auto;	
	background-color:#fff;

	> li{

		display: inline-block;
		background-color: #fff;
		.box-shadow (0, 0, 3px, 0px, #999);
		width:80px;		
		height:50px;	
		padding: 5px;
		margin: 10px 5px;
		color: #333;
		.border-radius; 
		vertical-align: top;

		&.elegida{

			color: #fff;
		}


		.encurso{
			background-color:#fff;
		}

		.reprobada{
			background-color:#FF1710;
			border-color: #333;
		}

		.aprobada{
			background-color:#21AB10;
			border-color: #333;
		}
		
	}

	>li:hover{
			cursor: pointer;
		}
}

#kardex{

	ul{
		list-style:none;
		margin:0;
		padding:0;
		margin-left: 5px;
	}

}

#mapaCurricular{
	>li{
		border-color:1px solid #ccc;
		margin-top: 20px;		
	}
}

.IB{
	display: inline-block;
}

.indicadorNivel{
	.border-radius;
	font-size:18px;
	width:100%;
	height:30px;
	background-color: #333;
	line-height:30px;
	text-align: center;
	color: #fff;
	
}
/******************************************************************/