<!DOCTYPE html>
<html>
	<head>
		<title>SAES2GO</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/site_media/css/master.css">
		<link rel="stylesheet" type="text/css" href="/site_media/css/alumnos.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script type="text/javascript" src="/site_media/js/json2.js"></script>
		<script type="text/javascript" src="/site_media/js/alumnos.js"></script>
		
	</head>
	<body>
			<header id="header">{{ usuario }}</header>
			<article id="mainArticle">
				<div class="leftPane">
					<div id="dvPerfil">
						<img src="">
					</div>
					<div id="dvNav">
						<ul>
							<li data-view="horarios">Horarios</li>
							<li data-view="situacionAcademica">Situación Académica</li>
							<li data-view="trabajos">Trabajos</li>
							<li data-view="contactos">Contactos</li>
							<li data-view="materias">Materias</li>
						</ul>
					</div>
				</div>
				<div class="rightPane">
					
				</div>
					
			</article>
	</body>
</html>