<!DOCTYPE html>
<html>
	<head>
		<title>SAES2GO</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/site_media/css/master.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script type="text/javascript" src="/site_media/js/json2.js"></script>
		<script type="text/javascript" src="/site_media/js/security.js"></script>
	</head>
	<body>
			<div id="header"><input id="btnCambiaForm" type="button" value="Registrarse"></div>
			<div id="frmContainer">
				<form id="frmLogIn" name="frmLogIn">
						<h1>Accede:</h1>
						<input id="user" name="user" type="text" placeholder=" Correo">
						<input id="nombre" name="nombre" type="text" value="{% cycle rowvalue1 rowvalue2 %}">
						<input id="pass" name="pass" type="password" placeholder=" Password">
						<input id="pass2" name="pass2" type="password" placeholder="  Password">
						<input id="btnConfirm" type="button" value="Guardar">
				</form>				
			</div>
	</body>
</html>