<h1>Horarios</h1>

<select id="cmbNiveles">
	<option value="0">-- Nivel --</option>
	<option value="1">Nivel 1</option>
	<option value="2">Nivel 2</option>
	<option value="3">Nivel 3</option>
</select>

<select id="cmbGrupos">
	<option value="0">-- Grupo --</option>
</select>

<input id="generaBinario" type="button" value="Guardar Horario">
<input id="borraBinario" type="button" value="Limpiar">


<!--<div id="detalleHorario">
	<div>Profesor:<span></span></div>
	<div>Grupo:<span></span></div>
	<div>Salon:<span></span></div>
	<div>Trabajos Entregados:<span></span></div>
	<div>Faltas:<span></span></div>
	<div>Asistencias:<span></span></div>
</div>-->
<div id="dvHorarios">
	<ul id="tiraMaterias">
	
	</ul>
	<table>
		<thead>			
			<tr><th>Hora</th><th>Lunes</th><th>Martes</th><th>Miercoles</th><th>Jueves</th><th>Viernes</th></tr>
		</thead>								
		<tbody>								
			<tr class="matutino"><td>07:00 - 08:30</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
			<tr class="matutino"><td>08:30 - 10:00</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
			<tr class="matutino"><td>10:30 - 12:00</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
			<tr class="matutino"><td>12:00 - 13:30</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
			<tr class="mixto"><td>13:30 - 15:00</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
			<tr class="vespertino"><td>15:00 - 16:30</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
			<tr class="vespertino"><td>16:30 - 18:00</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
			<tr class="vespertino"><td>18:30 - 20:00</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
			<tr class="vespertino"><td>20:00 - 21:30</td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td><td><div></div></td></tr>
		</tbody>
	</table>

</div>