<h1>Horarios</h1>
<div id="dvTipoHorario">Horario Actual</div>
<ul id="tiraMaterias">
	
</ul>
<!--<div id="detalleHorario">
	<div>Profesor:<span></span></div>
	<div>Grupo:<span></span></div>
	<div>Salon:<span></span></div>
	<div>Trabajos Entregados:<span></span></div>
	<div>Faltas:<span></span></div>
	<div>Asistencias:<span></span></div>
</div>-->
<div id="dvHorarios">
	<table border="1">
		<thead>			
			<tr><th>Hora</th><th>Lunes</th><th>Martes</th><th>Miercoles</th><th>Jueves</th><th>Viernes</th></tr>
		</thead>								
		<tbody>								
			<tr><td>07:00 - 08:30</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
			<tr><td>08:30 - 10:00</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
			<tr><td>10:30 - 12:00</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
			<tr><td>12:00 - 13:30</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
			<tr><td>13:30 - 15:00</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
			<tr><td>15:00 - 16:30</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
			<tr><td>16:30 - 18:00</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
			<tr><td>18:30 - 20:00</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
			<tr><td>20:00 - 21:30</td><td>0</td><td>0</td><td>0</td><td>0</td><td>0</td></tr>
		</tbody>
	</table>
	<input id="binario" type="text">
	<input id="generaBinario" type="button" value="genera">
	<input id="borraBinario" type="button" value="limpiar">
</div>