<!DOCTYPE html>
<html>
	<head>
		<title>SAES2GO</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/site_media/css/master.css">
		<link rel="stylesheet" type="text/css" href="/site_media/css/alumnos.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script type="text/javascript" src="/site_media/js/json2.js"></script>
		<script type="text/javascript" src="/site_media/js/alumnos.js"></script>
		
	</head>
	<body>
			<div id="header">{{ usuario }}</div>
			<div id="frmContainer2">
				<div class="leftPane">
					<div id="dvPerfil">
						<img src="">
					</div>
					<div id="dvNav">
						<ul>
							<li>Horarios</li>
							<li>Situación Académica</li>
							<li>Trabajos</li>
							<li>Contactos</li>
						</ul>
					</div>
				</div>
				<div class="rightPane">
					<h1>Situación Académica</h1>
					<div id="Concentrados">
						<div class="column">Promedio: <span>7.56</span></div>
						<div class="column">Creditos Adquiridos: <span>100</span></div>
						<div class="column">Materias Reprobadas: <span>1</span></div>
						<div class="column">Materias Desfasadas: <span>0</span></div>						
					</div>
					<div id="kardex">
						<table>
							<thead>
								<tr><th colspan="5" >SEGUNDO NIVEL</th></tr>
								<tr><th>Materia</th><th>Fecha</th><th>Periodo</th><th>Forma Eval.</th><th>Calificacion</th></tr>
							</thead>
							<tbody>
								<tr><td >FUNDAMENTOS ECONOMICOS</td><td>Dic 15 2011</td><td>12/1</td><td>ORD</td><td>8</td></tr>
							</tbody>
						</table>
						<table>
							<thead>
								<tr><th colspan="5" >PRIMER NIVEL</th></tr>
								<tr><th>Materia</th><th>Fecha</th><th>Periodo</th><th>Modo</th><th>Calificacion</th></tr>
							</thead>								
							<tbody>								
								<tr><td >ANALISIS VECTORIAL</td><td>Feb  3 2012</td><td>12/1</td><td>ETS</td><td>6</td></tr>
								<tr><td >CALCULO</td><td>Jun 29 2010</td><td>10/2</td><td>ETS</td><td>6</td></tr>
								<tr><td >MATEMATICAS DISCRETAS</td><td>Ago 15 2011</td><td>11/2</td><td>ETS</td><td>7</td></tr>
								<tr><td >ALGORITMIA Y PROGRAMACION ESTRUCTURADA</td><td>Feb  8 2010</td><td>10/1</td><td>ETS</td><td>7</td></tr>
								<tr><td >FISICA</td><td>Jun 29 2011</td><td>11/2</td><td>ETS</td><td>6</td></tr>
								<tr><td >INGENIERIA ETICA Y SOCIEDAD</td><td>Jun 30 2010</td><td>10/2</td><td>REC</td><td>10</td></tr>
								<tr><td >ECUACIONES DIFERENCIALES</td><td>Dic 15 2011</td><td>12/1</td><td>ORD</td><td>9</td></tr>
								<tr><td >ESTRUCTURAS DE DATOS</td><td>Dic 15 2011</td><td>12/1</td><td>ORD</td><td>7</td></tr>
								<tr><td >COMUNICACION ORAL Y ESCRITA</td><td>Jun 29 2011</td><td>11/2</td><td>ETS</td><td>8</td></tr>
								<tr><td >ANALISIS FUNDAMENTAL DE CIRCUITOS</td><td>Dic 15 2011</td><td>12/1</td><td>ORD</td><td>8</td></tr>
							</tbody>
						</table>						
				</div>
				</div>
					
			</div>
	</body>
</html>