<!DOCTYPE html>
<html>
	<head>
		<title>SAES2GO</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/site_media/css/master.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script type="text/javascript" src="/site_media/js/json2.js"></script>
		<script type="text/javascript" src="/site_media/js/security.js"></script>
	</head>
	<body>
			<header id="header"><h1>SAES<span>2</span>GO</h1></header>
			<article id="mainArticle">
				<form id="frmLogIn" name="frmLogIn" action="validateLogin/" method="GET">
						<h1>Accede:</h1>
						<input id="logUser" name="logUser" type="email" required="required" placeholder="Correo">
						<input id="logPass" name="logPass" type="password" required="required"  placeholder="Password">
						<input id="btnLogIn" type="submit" value="Iniciar Sesión">
				</form>				
			</article>
	</body>
</html>